
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
}

.sidebar{
    width:210vh;
    height:15vw;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
}
.sidebar ul li{
    display: inline-block;
    margin:40px;
    margin-top:20px;
}

.sidebar{
    width: 70vw;
    padding:0px;

}
.profile_image{
    width: 13%;
    margin: 10px;
    border-radius: 10%;
}

.sidebar  li{
    list-style: none;
    padding: 10px 0;
    font-size:20px;
    flex-direction:row-reverse;
}

.ac img{
    margin-top:20px;
    float:right;
    width:170px;
    height:170px;

}

.main{
    background-color:rgba(160, 16, 160, 0.664) ;
    width:90vw; 
    height:1090px;
    margin:10px;
    padding:50px;
}


.container{
    display:flex;  
}
.contact{
    text-size-adjust: 40px;
    text-emphasis-color:bold black;

}

.infocon{
    text-align:center;
    justify-content: center;
    display: inline-flex;
    width: 100vw;
    background-color:rgb(2, 157, 168);
    

}

.divinfo {
    text-align:center;
    text-emphasis-color: rgb(121, 9, 121) ;
    font-weight: bold;
    margin-left: 60%;
    color: white;

}

.main{
      font-size:20px;
      border-style: solid;
      border-width:thin;
      text-align: left;
      

}
.project img{
    float:left;
    width:580px;
    height:300px;
    margin:0px;
    padding:0px;
}
ul{
    margin-right: 20%;
}


